.main-container{
    margin: 150px auto ;
    max-width: 800px !important;
}
.profile-container{
    margin: 0px auto;
    display: flex !important;
    justify-content: center !important;
    padding-bottom: 10px;

}
.profile-container > div{
    margin: 0px auto !important;
    width: 100% !important;
    text-align: center !important;

}
.avatar-style{
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
.user-activity{
    display: flex;
    justify-content: center !important;
    width: 100% !important;
}
.user-activity > h4 {
    font-family: 'Bree Serif', serif;
    margin-left: 15px;   
}
.gallery {
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
}

.items {
    width: 30% !important;
    height: 30% !important;
    margin-bottom: 10px !important;
}
.profile-name{
    font-family: 'Bree Serif', serif;   
    font-size: 45px !important;
}
.update-heading{
    font-size: 17px;
    font-family: 'Bree Serif', serif;
    color: #1976d2; 
    margin-right: 10px !important;  

}